body {

  margin: 0;
  color: white; 
  background:#472d33;
}


a {
  text-decoration: none;
  color: inherit;
}


a:hover {
  color: #A99FA1;
}





header {
  margin:0px 0px 0px 0px;;
  float: left;
  background: #3f282d;
  border-bottom: 2px solid #382428;
  padding: 25px 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
   
}




.logo {
  float: left;
  text-align: left;
  margin-left: 5%;
  font-size: 28px;
}




nav {
  float: right;
  text-align: right;
  margin-right: 2%;
}


nav ul {
  list-style: none;
  margin: 0;
  padding-top: 8px;
}


nav li {
  display: inline-block;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}


nav a {
  padding: 15px 10px;
}





.sec {
  background: #472d33;
  height: 100%;
  text-align: center;
}


.sec h1 {
  padding-top: 17%;
  font-family: 'Roboto Mono', serif;
  font-size: 48px;
}


.sec p {
  width: 500px;
  margin: -28px auto 32px;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 1.35;
}
.dev
{
	cursor: pointer; cursor: hand;
}

#submit {
  height: 50px;
  width: 220px;
  background: #BA4662;
  color: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}


#submit:hover {
  background: #AE3C58;
}

input:focus {
  outline: none;
  border: 2px solid #BA4662;
  box-shadow: 0 0 10px #BA4662;
}
 
