     *{
margin:0;
padding:0;

}




/*#imgcontainer img{
width:100%;
height:100vh;
opacity:0.6;}*/

body{
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 58%, rgba(255,255,255,0.99) 63%, rgba(194,229,222,0.99) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(58%, rgba(255,255,255,0.99)), color-stop(63%, rgba(255,255,255,0.99)), color-stop(100%, rgba(194,229,222,0.99)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 58%, rgba(255,255,255,0.99) 63%, rgba(194,229,222,0.99) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 58%, rgba(255,255,255,0.99) 63%, rgba(194,229,222,0.99) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 58%, rgba(255,255,255,0.99) 63%, rgba(194,229,222,0.99) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 58%, rgba(255,255,255,0.99) 63%, rgba(194,229,222,0.99) 100%);
filter:     progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2e5de', GradientType=1 );}







h1{
text-align:center;
font-style:none;
color:#191970;
font-size:40px;
position:absolute;
top:30vh;
right:0;
left:0;
font-family: 'Lato', sans-serif;
    text-shadow:0 5px 10px rgba(0, 0, 0, 0.2);


}

h3{
top:50vh;
right:0;
left:0;
position:absolute;
font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
font-weight: normal;
font-size: 1.00em;
letter-spacing: .2em;
line-height: 1.1em;
text-align: center;
color:#15317E;
}



.button{
width:200px;
height:100px;
top:60vh;
position:absolute;
left:20%;
right:0;
margin-left:auto;
margin-right:auto;
display:inline-block;
text-decoration:none;
font-family: 'satisfy', sans-serif;
}
.button-2
{
width:200px;
height:100px;
top:60vh;
position:absolute;
left:0;
right:20%;
margin-left:auto;
margin-right:auto;
display:inline-block;
text-decoration:none;
font-family: 'satisfy', sans-serif;
}

.button-primary{
cursor: pointer; cursor: hand;
float:left;
padding:18px 35px 18px 20px;
border-radius:10px;
overflow:hidden;
box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
background:#6699CC;
font:20px "Trebuchet MS", sans-serif;
color:#fff;
text-decoration: none;
font-family: 'satisfy', sans-serif;


}


.button-primary:hover{
background:lightslategrey;}


    p:first-letter{
               text-transform: uppercase;
          }
        p {
        color: green;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 letter-spacing:0.1em;
 text-align:center;
 margin: 10px auto;
 text-transform: lowercase;
 line-height: 145%;
 font-size: 20px;
 top:73vh;
 position:absolute;
 right:0;
 left:0;
 font-weight:bold;
 font-variant: small-caps;
        }
        
        
        
  pre:first-letter{
               text-transform: uppercase;
          }
        pre {
        color: green;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 letter-spacing:0.1em;
 text-align:center;
 margin: 10px auto;
 text-transform: lowercase;
 line-height: 145%;
 font-size: 10px;

 top:78vh;


 position:absolute;
 right:0;
 left:0;
 font-weight:bold;
 font-variant: small-caps;
        }        
        

