*{
margin:0;
padding:0;

}




/*#imgcontainer img{
width:100%;
height:100vh;
opacity:0.6;}*/

h1{
text-align:center;
font-style:none;
color:#191970;
font-size:50px;
position:absolute;
top:30vh;
right:0;
left:0;
font-family: 'Lato', sans-serif;
    text-shadow:0 5px 10px rgba(0, 0, 0, 0.2);


}

h3{
text-align:center;
font-family:'Lucida console';
color:#af111c;
text-size:25;
position:absolute;
top:50vh;
right:0;
left:0;
font-family: 'Baloo Bhaina', sans-serif;

}



.button{
width:200px;
height:100px;
top:60vh;
position:absolute;
left:20%;
right:0;
margin-left:auto;
margin-right:auto;
display:inline-block;
text-decoration:none;
font-family: 'satisfy', sans-serif;
}
.button-2
{
width:200px;
height:100px;
top:60vh;
position:absolute;
left:0;
right:20%;
margin-left:auto;
margin-right:auto;
display:inline-block;
text-decoration:none;
font-family: 'satisfy', sans-serif;
}

.button-primary{
cursor: pointer; cursor: hand;
float:left;
padding:10px 20px 15px 20px;
border-radius:10px;
overflow:hidden;
box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
background:#6699CC;
font:20px "Trebuchet MS", sans-serif;
color:#fff;
text-decoration: none;
font-family: 'satisfy', sans-serif;


}


.button-primary:hover{
background:lightslategrey;}


   p:first-letter{
               text-transform: uppercase;
          }
        p {
        color: green;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 letter-spacing:0.1em;
 text-align:center;
 margin: 40px auto;
 text-transform: lowercase;
 line-height: 145%;
 font-size: 14pt;
 top:80vh;
 position:absolute;
 right:0;
 left:0;
 font-variant: small-caps;
        }
