<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>MedBot</title>
         <link rel="shortcut icon" href="WhatsApp Image 2016-09-13 at 4.07.26 PM.jpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="normalize.css">
    <link rel="shortcut icon" href="WhatsApp Image 2016-09-13 at 4.07.26 PM.jpeg" />
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <!--Jquery plugin for scrolling ... with which we can control the horizontal/vertical scroll and its speed , momentum , mouse-wheel, etc-->
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>

        <link rel="stylesheet" href="style.css">




  </head>

  <body>

<div class="chat">
  <div class="chat-title">
    <h1>MedBot</h1>
    <h2>Online</h2>
    <figure class="avatar">
      <img src="WhatsApp Image 2016-09-13 at 4.07.26 PM.jpeg" /></figure>
  </div>
  <div class="messages">
    <div class="messages-content"></div>
  </div>
  <div class="message-box">
    <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
    <button type="submit" class="message-submit">Send</button>
  </div>

</div>
<div class="bg"></div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>

        <script src="index.js"></script>




  </body>
</html>
