<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="developers.css">
<ul class="responsive_grid">
  <li>
    <div class="team_member">
       <div class="info">
         <img src="http://www.placecage.com/g/300/300" alt=""/>
         <h5>Aditya Bansal</h5>
         <h6>Computer science and Engineering</h6> 
      </div>
      <div class="info_reveal">
        <h6>Contact<br/>Bansi</h6>
        <p><a href="mailto:address@addresss.com">adi.bansal241996@gmail.com</a></p>
      </div>
    </div>
  </li>
  <li>
    <div class="team_member">
       <div class="info">
         <img src="http://www.placecage.com/g/300/300" alt=""/>
         <h5>Akhilesh Sharma</h5>
         <h6>Computer science and Engineering</h6> 
      </div>
      <div class="info_reveal">
        <h6>Contact<br/>Paradox</h6>
        <p><a href="mailto:address@addresss.com">sharmaakb12@gmail.com</a></p>
      </div>
    </div>
  </li>
  
    <li>
    <div class="team_member">
       <div class="info">
         <img src="http://www.placecage.com/g/300/300" alt=""/>
         <h5>Kumar Gaurav Pandey</h5>
         <h6>Computer science and Engineering</h6> 
      </div>
      <div class="info_reveal">
        <h6>Contact<br/>kgp</h6>
        <p><a href="mailto:address@addresss.com">gaurav1911@outlook.com</a></p>
      </div>
    </div>
  </li>
  <li>
    <div class="team_member">
       <div class="info">
         <img src="http://www.placecage.com/g/300/300" alt=""/>
         <h5>Nayan Gupta</h5>
         <h6>Computer science and Engineering</h6> 
      </div>
      <div class="info_reveal">
        <h6>Contact<br/>Nayan</h6>
        <p><a href="mailto:address@addresss.com">nayangupta824@gmail.com</a></p>
      </div>
    </div>
  </li>
  
    <li>
    <div class="team_member">
       <div class="info">
         <img src="http://www.placecage.com/g/300/300" alt=""/>
         <h5>Paras Chadha</h5>
         <h6>Computer science and Engineering</h6> 
      </div>
      <div class="info_reveal">
        <h6>Contact<br/>Paras</h6>
        <p><a href="mailto:address@addresss.com">paraschadha2052@gmail.com</a></p>
      </div>
    </div>
  </li>
  <li>
   
