
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="developers.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<title>About Me</title>
</head>
<body >

	<ul id="messages">

		<!-- 1 -->
		<li>
			<div class="infos">
				<img src="aditya.jpg" />
				<a href="" class="sprite twitter">@bansi</a>
				<a href="https://www.facebook.com/profile.php?id=100003655330196&fref=ts" class="sprite facebook">@facebook.bansi</a>
				<a href="https://github.com/adnrs96" class="sprite github">@adnrs96</a>
			</div>
			<div class="content">
				<h3>
					Aditya Bansal
					<b>Computer Science &amp; Engineering , CCET</b>
				</h3>
				<p>
					a.k.a Bansi
					</p>
				
			</div>
		</li>
		<!-- 2 -->
		<li>
			<div class="infos">
				<img src="akhilesh.jpeg" />
				<a href="" class="sprite twitter">@paradox</a>
				<a href="" class="sprite facebook">@not.onfb.paradox:(</a>
				<a href="https://github.com/Akhil09" class="sprite github">@akhilesh</a>
			</div>
			<div class="content">
				<h3>
					Akhilesh Sharma
					<b>Computer Science &amp; Engineering , CCET</b>
				</h3>
				<p>
					a.k.a Paradox
					</p>
			</div>
		</li>

		<!-- 3 -->
		<li>
			<div class="infos">
				<img src="kgp.jpg" />
				<a href="" class="sprite twitter">@kgp</a>
				<a href="https://www.facebook.com/kgp1911?fref=ts" class="sprite facebook">@kgp.fb</a>
				<a href="https://github.com/gaurav1911" class="sprite github">@gaurav1911</a>
			</div>
			<div class="content">
				<h3>
					Kumar Gaurav Pandey
					<b>Computer Science &amp; Engineering , CCET</b>
				</h3>
				<p>
					
				</p>
			</div>
		</li>

		<!-- 4 -->
		<li>
			<div class="infos">
				<img src="nayan.jpg" />
				<a href="" class="sprite twitter">@nayan</a>
				<a href="https://www.facebook.com/nayan.gupta.1023" class="sprite facebook">nayan.fb</a>
				<a href="https://github.com/nayangupta824" class="sprite github">@nayangupta824</a>
			</div>
			<div class="content">
				<h3>
					Nayan Gupta
					<b>Computer Science &amp; Engineering , CCET</b>
				</h3>
				<p>
					
				</p>
			</div>
		</li>

		<!-- 5 -->
		<li>
			<div class="infos">
				<img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
				<a href="" class="sprite twitter">@paras</a>
				<a href="https://www.facebook.com/paraschadha2052?fref=ts" class="sprite facebook">paras.fb</a>
				<a href="https://github.com/paraschadha2052" class="sprite github">@arbaoui-mehdi</a>
			</div>
			<div class="content">
				<h3>
					Paras Chadha
					<b>Computer Science &amp; Engineering , CCET</b>
				</h3>
				<p>
					
				</p>
			</div>
		</li>

	</ul>
 <script src="developers.js"></script>
</body>
</html>
