<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Welcome to MedBot</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="loader.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="imageedit_5_7297905240.png" />
  </head>
  <body>
  <div class = "body">
    <header>
      <a href="#" class="logo">
        <em>Med</em><strong>Bot</strong>
      </a>
      <nav>
        <ul>
          <li><a class="dev">About Developers</a></li>
        </ul>      
      </nav>
    </header>
    <div class="sec">
      <h1><em>Hi, I am MedBot - Your own virtual Doctor.</em></h1>
      <p>I am there to listen to anything you have to say and provide the best possible diagnosis to your health related issues. So, let's start then, heh ?</p>
      <input type="submit" id="submit" value="Talk to me!" class="chat">
      <p> </br></br></br></br>DON'T IGNORE YOUR HEALTH. </br></br>
Because an old saying goes : </br></p>

          <p><i>"If wealth is lost, nothing is lost;                
                 If character is lost, something is lost;                    
If health is lost, everything is lost. </i>"</p>
    </div></div>
  </body>

  <script src="about.js"></script>
</html>

