<!DOCTYPE html>
<html>
<head>
<title>MEDBOT</title>
<link rel="stylesheet" href="about.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />
	<link rel = "stylesheet" type = "text/css" href="https://fonts.googleapis.com/css?family=Baloo+Bhaina">

         <link rel="shortcut icon" href="imageedit_5_7297905240.png" />
</head>
<body >

<div style="position: relative; left: 0; top: 0;">
<div id="imgcontainer">
  <img src="https://d13yacurqjgara.cloudfront.net/users/112162/screenshots/1130822/lifeline.gif" /></div>
  <img src="imageedit_5_7297905240.png" style="position: absolute; top: 5vh; left: 85vh;width:200px;"/>
</div>
<div class="center">
<h1>HI, I'M MEDBOT - YOUR OWN VIRTUAL DOCTOR. </h1>
<h3>I am there to listen to anything you have to say and provide the best possible remedies to your health related issues. So, let's start then, heh ? </h3>
<div class="button" >
<a class="button-primary" href="about.html" onclick="load()">Talk&nbsp;to&nbsp;me!&nbsp;<img src="chat-50.png"/></a>
</div>
<div class="button-2">
<a class="button-primary" href="developers.html"> Developers&nbsp;<img src="google-code-64.png"/></a>
</div>
</div>
<audio autoplay>
  <source src="Heartbeat SOUND EFFECT.mp3" type="audio/mpeg">
</audio>
<p>DON'T IGNORE YOUR HEALTH.</br> </br> Because an old saying goes : " If wealth is lost, nothing is lost; if character is lost, something is lost; if health is lost, everything is lost. "</p>
</body>
</html>
