<!DOCTYPE html>
<html>
<head>
<title>MEDBOT</title>
<link rel="stylesheet" href="about.css">
<link rel="stylesheet" href="loader.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel = "stylesheet" type = "text/css" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel = "stylesheet" type = "text/css" href="https://fonts.googleapis.com/css?family=Adobe+Caslon+Pro">
        <link rel = "stylesheet" type = "text/css" href="https://fonts.googleapis.com/css?family=Hoefler+Text">
         <link rel="shortcut icon" href="imageedit_5_7297905240.png" />
</head>
<body>
<div class="body">
<div style="position: relative; left: 0; top: 0;">
<div id="imgcontainer">
  <img src="https://wallpaperscraft.com/download/light_faded_background_85547/1920x1080#" /></div>
  <div class="list">
  <img src="imageedit_5_7297905240.png" style="position: absolute; top: 5vh; left: 15vh;width:200px;"/></div>
</div>
<div class="center">
<h1>HI, I'M MEDBOT - YOUR OWN VIRTUAL DOCTOR. </h1>
<h3>I am there to listen to anything you have to say and provide the best possible solutions to your health related issues. So, let's start then, heh ? </h3>
<div class="button" >

<a class="button-primary chat" >Talk&nbsp;to&nbsp;me!&nbsp;<img src="chat-50.png"/></a>
</div>
<div class="button-2">
<a class="button-primary dev" > Developers&nbsp;<img src="google-code-64.png"/></a>
</div>
</div>
<p>DON'T IGNORE YOUR HEALTH.</br> </br> Because an old saying goes : " If wealth is lost, nothing is lost; </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if character is lost, something is lost; </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if health is lost, everything is lost. "
</p>
</div>
</body>
<script src="about.js"></script>


</html>
